/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
    border-radius: 5px;
}
.section-title{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 0;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.players img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* ------------------------------
     top blog style
------------------------------ */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    margin-bottom: 26px;
}
.blog img{
    height: 177px;
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size:16px;
    color: #9F9F9F;;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}
/* -------------------
    course style
------------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.course{
    border: 1px solid #FFFFFF;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 3px 3px #00000005;
    border-radius: 15px;
}
.course-banner{
    display: flex;
    justify-content: center;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    color: #1E1E1E;
}
.course-author{
    font-size: 15px;
    color: #ED6B4F;
}
.fa-star.filed{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    margin-right: 7px;
}
.course-info{
    display: flex;
    align-items: center;
}

.course-duration{
    margin-left: 7px;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 4px 10px;
}
/*------------------------
media query for responsive
---------------------------*/

/* responsive for mobile device */

@media(max-width:688px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
}
/* responsive for tab device */
@media(min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        flex-direction: column;
    }
}
